<div class="block notice">
  <h3>mCONNECT</h3>
  <p>Using mCONNECT you can do:</p>
  <div class="content">
    <p>Add members from here!.</p>
    <p>Add, Delete, Update members from here .</p>
  
  </div>
</div>
